*
{
    padding: 0;
    margin: 0;
}

#div-sup
{
    background-color: #17a2b8;;
    color: blanchedalmond;
    text-align: center;
    margin-bottom: 4%;
}

#div-sup a
{
    color: white;
}

#nav-sup
{
    height: 25px;
    padding-top: 20px;
}

#tabela-produto
{
    background-color: white;
    border-radius: 10px;
    padding-top: 2%;
    padding-bottom: 0.3%;
    text-align: center;
}

.btn-frete
{
    border: none;
    border-radius: 15px;
    background-color: rgb(223, 88, 88);
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    width: 45px;
    margin-bottom: 4%;
    box-shadow: 0 8px 15px rgba(114,124,142,.36);
}

.btn-del
{
    background-color: rgba(255, 0, 0, 0.801);
    border: 1px solid rgb(138, 138, 138); 
    padding: 5px 10px;
    border-radius: 50%;
    font-family: Times;
    color: rgb(253, 249, 249);
}

.artg-comp h4
{
    color: #515c6f;
}

.artg-comp h2
{
    font-weight: 700;
    color: #ff4d4d;
    margin-bottom: 3%;
}

.home
{
    margin-left: 10%;
    color:  #212529;
    text-decoration: none;
    font-size: 24px;
}

.inf-text
{
    margin-left: 7%;
    margin-top: 2%;
}

.lista-nav-bar
{
    list-style-type: none;
    text-align: center;
    display: flex;
}

@media (max-width: 991px)
{
    .lista-nav-bar 
    {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .home
    {
        margin-left: 1%;
    }
    
    #nav-sup
{
    height: auto;
    padding-top: auto;
}
}