@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body
{
    margin: 0;
}

#div-sup
{
    display: flex;
    width: 100%;
    height: 20%;
}

#btn-user
{
    border: none;
    height: 40px;
    width: 75px;
    border-radius: 8px;
    background-color: #17a2b8;
}

#btn-user a
{
    text-decoration: none;
    color: white;
}

#btn-sair:hover
{ 
    background-color: rgb(14, 77, 88);
}

#label
{
    color: white;
    margin-left: 15%;
}

#form
{
    width: 65%; 
    margin-left: 35%;
}

#search
{
    display: flex;
    width: 50%; 
}

#img-sale
{
    width: 100%;
    height: 35vh;
    margin-bottom: 2%;
}

#ofertas img
{
    width: 200px;
    height: 180px;
    margin-top: 4%;
}

#ofertas h3
{
    margin-left: 3%;
    margin-bottom: 2%;
    color: rgb(70, 70, 70);
}

#ofertas h6
{
    color: #515c6f;
}

#ofertas article
{
    color: #515c6f;
}

#ofertas article h4
{
    color: red;
}

#ofertas article span
{
    color: green;
}

#button
{
    border: 1px solid #17a2b8;
    border-radius: 0px 15px 15px 0px;
    border-left: none;
    height: 45px;
    width: 40px;
    color: #17a2b8;
    background-color: white;  
}

#rodape-inf 
{
  position: absolute;  
  width: 100%;  
  padding-top: 2%;
}  

.produtos
{
    /*min-height: 350px;*/
    /*width: 200px;*/
    border-radius: 8px;
    border: rgba(221, 220, 220, 0.815) 1px solid;
}

.checked
{
    color: orange;
}

.produtos:hover
{
    border: 1px solid rgb(151, 151, 151);
}

.inf-text {margin-left: 6%;}

.inf-text h1
{
    font-size: 20pt;
}

.div-navbar
{
    background-color: #17a2b8;
}

.div-navbar ul
{
    width: 100%;
    text-align: center;
}

.div-navbar ul li a:link
{
    list-style-type: none;
}

.div-navbar ul li a
{
    color: white;
    text-decoration: none;
}

.div-navbar ul li:hover 
{
    color: #fd7e14;
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
}

.div-navbar ul li:hover a
{
    color: #fd7e14;
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
}

#input
{
    height: 45px;
    width: 100%;
    border: 1px solid #17a2b8;
    border-radius: 15px 0px 0px 15px;
    border-right: none;
    padding-left: 5%;
    margin-bottom: 1%;
}

@media(max-width: 1009px)
{
    #form
    {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 100%;
    }

    #search
    {
        width: 80%;
        margin-bottom: 2%;
    }

    .div-navbar ul
    {
       margin-top: 2%;
       width: 100%;
       text-align: center;
   }
}

