@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body
{
    margin: 0;
}

#div-sup
{
    display: flex;
    width: 100%;
    height: 20%;
    background-color: orange;
}

#div-sup img
{
    margin-left: 3%;
    margin-right: 35%;
}

#nav-1
{
    margin-top: 3%;
}

.div-navbar
{
    /*border: 1px solid black;*/
    /*margin-top: -4.1%;*/
    height: 50px;
    /*background-color: rgb(216, 215, 209);*/
}

.div-navbar ul
{
    margin-left: 10%;
    width: 78%;
    /*border: 1px solid black;*/
}

.div-navbar ul li
{
    list-style-type: none;
}

.input
{
    height: 45px;
    width: 300px;
}

.button
{
    height: 45px;
    width: 40px;
}


